html {
  font-size: 62.5%; // Resets font size to 10px
}

body {
  background: #ecf0f1;
  font-family: 'Raleway', sans-serif;
  color: $body;
  @include font-size(1.8, 2.4);
}

#accordion > div {
  display: none;
}

strong {
  font-weight: 700;
}

.container {
  width: calc(100% - 200px);
  width: calc(100% - 20rem);
  max-width: 90%;
  margin: 0 auto;
}
